---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

// Fetch all entries from the "pages" collection
const pages = await getCollection('pages');

// Find the specific subpage by slug
const page = pages.find((p: CollectionEntry<'pages'>) => p.slug === 'contactsubpages/subpage2');

if (!page) {
  throw new Error("Could not find subpage!");
}

const { Content } = await page.render();
const { data } = page;
---

<BaseLayout title={data.title}>
  <h1>{data.title}</h1>
	<h2>{data.subtitle}</h2>
  <Content />
</BaseLayout>