---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const pages = await getCollection('pages');
const page = pages.find((p: CollectionEntry<'pages'>) => p.slug === 'about');

if (!page) {
  throw new Error("Could not find page!");

}

const { Content } = await page.render();
const { data } = page;
---

<BaseLayout title={data.title}>
  <h1>{data.title}</h1>
	<h2>{data.subtitle}</h2>  
  <Content />
</BaseLayout>
